
.art1{height: 150px; font-size: 25px;}
.art2{height: 140px; text-align: center; }
.art3{height: 4700px; text-align: center;  background-position: center; background-size: 70px;
    font-size: 50px;}
.art4{height: 50px; text-align: center; background-color: rgb(214, 14, 214);}
.nav-link{color: black;
    font-style: italic;
     font-weight: 500;
    font-size: 17px;
  border-style: solid; border-color: black; border-width: 2px;}
  .nav-tabs{border-style: solid; border-color: black; border-width: 4px;
    background-image: linear-gradient(15deg, #e99211 0%, #6ad49f 100%);}
  
