.content-part-1-left-h3{ font-size:30px; color:#7db549; font-weight:500; padding-top:120px; padding-left:10px;}
.content-part-1-left-p{font-size:14px; text-align:justify; color:#000; font-weight:500; line-height:26px; padding:10px 12px;}
.content-part-1-left-btn{ font-size:16px; font-weight:500; border:1px solid #7db549; color:#FFF; 
padding:10px 30px; text-decoration:none; border-radius:2px; background:#7db549; margin:0px 10px;}
.content-part-1-left-btn:hover{ background:#689242;}
.content-part-1-right{ padding-top:10px;}
@media only screen and (min-width:320px) and (max-width:480px){
	.content-part-1-left-h3{ padding-top:30px; font-size:25px; text-align:center; }
	}
@media only screen and (min-width:600px) and (max-width:768px){
	.content-part-1-left-h3{ padding-top:20px; font-size:30px;}
	.content-part-1-right{ padding-top:80px;}
	}
.content-part-1-left-p{ font-size: 18px; }
/*  */
/*  */
.content-part-2{ padding:10px 0px; background:url(https://img.traveltriangle.com/blog/wp-content/tr:w-700,h-400/uploads/2017/10/Toit.jpg) no-repeat; height:1150px; background-position:center  bottom; background-attachment:fixed;}
.content-part-2-1{ padding:10px 0px; background:url(https://www.photocase.com/photos/3487286-food-background-with-fresh-salad-ingredients-avocado-tomatoes-lemon-garlic-and-olives-oil-for-tasty-salad-making-top-view-healthy-food-vegetarian-lunch-or-snack-border-photocase-stock-photo-large.jpeg) 
	no-repeat; height:1730px; background-position:center  bottom; background-attachment:fixed;}
.content-part-3{ padding:10px 0px; background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWRCTS97XBgF3y6HO_xElatYPklhmuBJA7ww&usqp=CAU) no-repeat; height:400px; background-position:center  bottom; background-attachment:fixed;}
.interior-font{ font-size:36px; text-transform:uppercase; padding:20px 0px 30px; font-weight:600;
text-align:center; color:#000; text-shadow: 2px 2px 3px #333;}
.content-part-2-inner{background-color: rgba(255, 255, 255, 0.493); padding:20px 0px 20px; margin:100px 150px; float: left;
border-radius:3px;}
.content-part-2-inner-2{background-color: rgba(224, 151, 40, 0.493); padding:20px 0px 20px; margin:100px 150px; float: left;
	border-radius:3px;}
.content-interior{ padding:10px 25px; float:left;}
.content-interior-h3{ color:#000; font-size:18px; text-shadow: 2px 2px 3px #333; padding:10px 0px; text-align:center;}
.content-interior-p{ color:#000; padding:5px 0px 10px; font-size:18px; line-height:26px; text-align:justify;}
@media only screen and (min-width:320px) and (max-width:480px){
	.content-part-2{ padding:10px 0px; height:1000px;}
	.content-part-2-inner{padding:20px 0px; margin:50px 20px;}
	}
@media only screen and (min-width:600px) and (max-width:768px){
	.content-part-2-inner{padding:20px 0px; margin:50px 50px;}
	}