.contact { font-size: 22px; text-align: center; border-style: inset;border-color:black; 
    border-width: 4px; margin: 10px; padding: 10px;
    background-image: linear-gradient(15deg, rgb(250, 243, 243) 0%, #2cec8c 100%);}