<div class="row footer">
	<div class="col-md-4 col-sm-4 col-xs-12">
    	<div class="footer-parts-h3">About Restaurant</div>
        <div class="footer-parts-p">
            Back in 1966, Mr. Abdul Rahim Haji, armed with a strong background in the 
            catering business, came to India from Malaysia. He opened the first Empire
             Restaurant in a small alley in Shivajinagar, Bangalore, which humbly served 
             healthy & authentic recipes, alongside the newspaper and early morning banter.</div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    	<div class="footer-parts-h3">Opening Hours :</div>
        <div class="footer-parts-p">
        	Mon - Fri : 11:00 AM - 10:00 PM <br />
            Sat - Sun : 10:00 AM - 11:00 PM 
        </div>
        <div class="footer-parts-h3">Enquiry :</div>
        <div class="footer-parts-p">
        	Email - info@hotelempire.in <br />
            Contact - 080 4041-4141
        </div>
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-12">
    	<div class="footer-parts-h3">Our Location :</div>
        <div class="footer-parts-p">
        	80 Feet Rd, next to BSNL, <br>
            HAL 2nd Stage, Indiranagar, <br>
            Bengaluru, Karnataka - 560038
        </div>
        <div class="footer-icons">
        	<ul>
            	<li><a href="#!"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#!"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#!"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
	<div class="footer-bottom">
        <div class="white">&copy; <script language="javascript" type="text/javascript">document.write(new Date().getFullYear());</script>. All Rights Reserved .!</div>
    </div>
</div>