<p class="menu"><b><u>Starters</u> :</b> Popcorn Kebab-Rs.199 ; Paneer Tikka-Rs.279 ; Chilly Chicken-Rs.249 ; 
    Lemon Chicken Dry-Rs.349 ; Mushroom Manchurian-Rs.170 <br>
    <b><u>Soups</u> :</b> Cream of Tomato-Rs.189 ; Cream of Vegetable-Rs.189 ; Lemon Coriander Chicken-Rs.199 ;
    Chicken Clear-Rs.230 ; Mutton Yakhani-Rs.275<br>
    <b><u>Fresh Fruit Juices</u> :</b> Grapes-Rs.89 ; Musambi-Rs.89 ; Orange-Rs.99 ;
    Pineapple-Rs.90 ; Rich Anar-Rs.120 ; Arabian Grape-Rs.160<br>
    <b><u>Sundaes</u> :</b> Fresh Limpack-Rs.189 ; Wild Nector-Rs.189 ; Mexican Wave-Rs.199 ;
    Black Beauty-Rs.230 ; Death By Chocolate-Rs.275
</p>
